.header {
  background-color: #282c34;
  height: 45px;
  position: relative;
}
.header h3 {
  margin: 0;
  color:#fff;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.contents {
  padding: 0 15px;
}
a {
  color: #000;
  text-decoration: none;
}
.contain {
  padding: 20px;
  background-color: antiquewhite;
}